<!DOCTYPE html>
{# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ #}
{# Consider specifying the language of your content by adding the `lang` attribute to <html> #}
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {% block head %}
            <meta charset="utf-8">

            {# Use the .htaccess and remove these lines to avoid edge case issues.
                 More info: h5bp.com/i/378 #}
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

            <title>XXCC - {% block title %}Cross Cross Coffe Cup{% endblock %}</title>
            <meta name="description" content="">

            {# Mobile viewport optimized: h5bp.com/viewport #}
            <meta name="viewport" content="width=device-width">

            {# Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons #}

            <link rel="stylesheet" href="/css/main.css">
            <link rel="stylesheet" href="/css/style.css">

            {# More ideas for your <head> here: h5bp.com/d/head-Tips #}

            {# All JavaScript at the bottom, except this Modernizr build.
                 Modernizr enables HTML5 elements & feature detects for optimal performance.
                 Create your own custom Modernizr build: www.modernizr.com/download/ #}
            <script src="/js/vendor/modernizr-2.5.3.min.js" type="text/javascript"></script>

            {# Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
                 chromium.org/developers/how-tos/chrome-frame-getting-started #}
            <!--[if lt IE 7]><p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

            {# Add your site or application content here #}

            {# JavaScript at the bottom for fast page loading: http://developer.yahoo.com/performance/rules.html#js_bottom #}

            {# Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline #}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
            <script>window.jQuery || document.write(unescape('%3Cscript src="/js/vendor/jquery-1.7.2.min.js" charset="utf-8" type="text/javascript" %3E%3C/script%3E'));</script>

            {# scripts concatenated and minified via build script #}
            <script src="/js/plugins.js" type="text/javascript"></script>
            {# end scripts #}

            {# Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
                 mathiasbynens.be/notes/async-analytics-snippet #}
            {% if app.google_analytics %}
            <script>
                var _gaq=[['_setAccount', '{{ app.google_analytics }}'],['_trackPageview']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));
                </script>
            {% endif %}
            {% endblock %}
            </head>

            <body>
                <header>
                    {% block header %}
                    <h1><a href="/" id="logo">CROSS:CROSS COFFEE CUP</a></h1>
                    <div id="baselines" class="clearfix">
                        <div id="baseline">
                            <span>10</span> formes random + <span>1</span> gobelet + de la <span>créativité</span>
                        </div>
                        <div id="accounts">
                            follow us : <a href="https://twitter.com/#!/search/?q=%23xxcc&src=hash" target="_blank">#xxcc</a> + <a href="https://twitter.com/XPRIME" target="_blank">@xprimegroupe</a>
                        </div>
                    </div>
                    {% endblock %}
                </header>
                <a id="github_banner" target="_BLANK" href="https://github.com/xprimegroupe"><img src="/img/github_banner.png" alt="FORK ME ON GITHUB !"></a>
            {% block content %}{% endblock %}
                <footer>
                    {% block footer %}
                    <div class="wrapper">
                        <aside id="open_sourced" class="clearfix">
                            <img class="illus" src="/img/logo_github.gif" alt="GITHUB">
                            <div class="content">
                                <h2>OPEN SOURCE</h2>
                                <p>CROSS:CROSS COFFEE CUP est un projet OpenSource : nous mettons à disposition le code JS reposant principalement sur RaphaelJS. N'hésitez pas à y contribuer ou suggérer vos améliorations !</p>
                                <a target="_blank" href="https://github.com/xprimegroupe/cross-cross-coffee-cup">Show me more on Github NOW !</a>
                            </div>
                        </aside>
                    </div>
                    <a href="http://www.xprimegroupe.com" target="_blank" id="xp_branding">X-PRIME GROUP</a>
                    {% endblock %}
                </footer>
            </body>
        </html>