{% extends "layouts/base.html.twig" %}

{% block title %}Erreur {{ code }}{% endblock %}

{% block content %}
    <div class="wrapper">
        {% if 404 == code %}
        <h1>Oops... on dirait que la machine à café est en panne</h1>
        <h3><a href="/">Revenez ici</a> et on dit qu'on a rien vu ;)</h3>

        {% else %}
        <h1>Problème bizarre</h1>
        {% endif %}
    </div>
{% endblock %}

