/* fonts */
@font-face {
    font-family: 'HelveticaRounded';
    src: url('../fonts/hr_bold/LTe50849.eot');
    src: url('../fonts/hr_bold/LTe50849.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hr_bold/LTe50849.woff') format('woff'),
         url('../fonts/hr_bold/LTe50849.ttf') format('truetype'),
         url('../fonts/hr_bold/LTe50849.svg#LTe50849') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ArialRounded';
    src: url('../fonts/ar_bold/ARLRDBD.eot');
    src: url('../fonts/ar_bold/ARLRDBD.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ar_bold/ARLRDBD.woff') format('woff'),
         url('../fonts/ar_bold/ARLRDBD.ttf') format('truetype'),
         url('../fonts/ar_bold/ARLRDBD.svg#ARLRDBD') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaRoundedCondensed';
    src: url('../fonts/hr_cd_bold/LTe50853.eot');
    src: url('../fonts/hr_cd_bold/LTe50853.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hr_cd_bold/LTe50853.woff') format('woff'),
         url('../fonts/hr_cd_bold/LTe50853.ttf') format('truetype'),
         url('../fonts/hr_cd_bold/LTe50853.svg#LTe50853') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*OH YEAH*/
body{background:#f3f3f3 url(/img/bg/body.jpg) repeat-x; padding-top:70px; color:#e04142; font-family: ArialRounded, Arial, sans-serif;}
a, a:visited{color:#62c3bc; text-decoration: none; outline:none !important;}
a:hover{color:#e04142;}
input{outline:none; box-shadow: none;}

a.cta{margin:0 auto; background:#e04142; display: block; text-align:center; font-size:50px; text-transform: uppercase; color:#fff; height:80px; width:320px; border-radius:10px; line-height: 20px; text-shadow:0px 2px 2px #ac0c0c; padding-top:30px;
    -webkit-box-shadow:  0px 9px 0px 0px rgba(98, 195, 188, 1);
    box-shadow:  0px 9px 0px 0px rgba(98, 195, 188, 1);
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
    a.cta span{display: inline-block; font-size:20px;}
    a.cta:hover{
        margin-top:9px;
        -webkit-box-shadow:  0px 0px 0px 0px rgba(98, 195, 188, 1);
        box-shadow:  0px 0px 0px 0px rgba(98, 195, 188, 1);
    }

.cta_container{background: url(/img/bg/cta_container.gif) 50% 50% repeat-x; border:1px solid #F3F3F3; height:130px;}
    .cta_container div{width: 360px; margin: 0 auto; background: #f3f3f3;}
h2{text-transform: uppercase; margin:0 0 15px 0;}


/*STRUCTURE*/
.wrapper{width:1020px; margin:0 auto;}
.clearfix{
    zoom: 1;
    &:before, &:after { content: ""; display: table; }
    &:after { clear: both; }
}

/*header*/
header{text-align: center; background: url(/img/bg/header.png) 50% 20px no-repeat; width:1020px; margin:0 auto; margin-bottom:80px;}
	h1 a#logo{display: block; width: 175px; height: 168px; margin: 0 auto; background: url(/img/logo_cccc.gif) 0 0 no-repeat; text-indent: -9999px;}
	#baselines{margin-top:-70px;}
		#baselines span{color:#62c3bc;}
		#baselines #baseline{float:left; width: 41%}
		#baselines #accounts{float:right; width: 41%}

#github_banner{position: absolute; top:0; right:0;}

/*footer*/
.push_gallery{text-align: center; margin:90px auto -80px auto;}
.push_gallery a{text-transform:uppercase; color:#e04142; font-size:30px; text-align: center; border-bottom:1px dashed #e04142}
    .push_gallery a:hover{color:#62c3bc; border-color:#62c3bc}
.push_gallery img{margin-top:30px;}

footer{margin-top:50px; background:url(/img/bg/footer.jpg) repeat-x; overflow: hidden; color:#fff; padding-top:60px; text-shadow:1px 1px 1px #4d968e;}
    footer aside{margin-bottom:20px;}
        footer aside img.illus{float:left; margin-right:30px; border-radius:150px; padding:10px; background:url(/img/bg/circle.png) 50% 50% no-repeat;}
        footer aside .content{float:left; width:820px; }
    footer h2{text-shadow:2px 2px 2px #4d968e;}
    #social_btn{height:70px;}
    #social_btn a{border-bottom:none; width:60px; height:60px; padding-bottom:0; margin-right:20px; border-radius:10px; background-color:#e04142; background-repeat: no-repeat; background-position: 50% 50%; float:left; display: block;
        -webkit-box-shadow:  0px 3px 0px 0px rgba(77, 150, 142, 1);
        box-shadow:  0px 3px 0px 0px rgba(77, 150, 142, 1);
    }
    #social_btn a:hover{margin-top:3px;
        -webkit-box-shadow:  0px 0px 0px 0px rgba(98, 195, 188, 1);
        box-shadow:  0px 0px 0px 0px rgba(98, 195, 188, 1);
    }
    #social_btn a#facebook_btn{background-image:url(/img/btn/facebook_logo.svg)}
    #social_btn a#twitter_btn{background-image:url(/img/btn/twitter_logo.svg)}
    #social_btn a#gplus_btn{background-image:url(/img/btn/gplus_logo.svg)}
    footer aside a, footer aside a:visited{border-bottom:1px dotted #fff; padding-bottom:10px; color:#ffffff;}
        footer aside a:hover{border-color:#e04142;}
    footer a#xp_branding{margin:0 auto; display: block; width: 939px; height: 165px; text-indent: -9999px; background: url(/img/xp_branding.png) 0 0 no-repeat;}

/*PAGE CREATION*/
.wrapper.mug{background:url(/img/bg/the_mug.jpg) 50% 30px no-repeat;}
    #personnals span{position:relative; display:block;}
        #personnals label{position: absolute; top: 9px; left: 10px; cursor: text; color: #fff;}
        #personnals #enter_twt label{left: auto; right: 10px;}
        #personnals input{background:#e04142; border-radius:5px; border:none; padding:10px; color:#ffffff; text-align:right; font-family: ArialRounded, Arial, sans-serif;}
        #personnals #enter_name input{text-align:left;}
        #personnals #enter_name{float:right;}
        #personnals #enter_twt{float:left;}
        #personnals #enter_twt:after{ content:" "; display: block; width:10px; height:10px; background: #e04142; right:-5px; top:15px; position: absolute;
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg); 
        }
        #personnals #enter_name:after{ content:" "; display: block; width:10px; height:10px; background: #e04142; left:-5px; top:15px; position: absolute;
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg); 
        }

    #raphael_container{position: relative; }
        #raphael{height:850px; margin-bottom:30px;}

/*TOOLS*/
#shapes{background:url(/img/bg/shapes.png) right 50% no-repeat; height:220px; width:830px; position: absolute; left:0; bottom:0;}

#edit{position: absolute; right:0; bottom:85px; width:170px; padding-left:20px;}
    #edit a{height:45px; padding:20px 0 0 80px; display: block; line-height: 15px;}
        #edit a#colors{background:url(/img/btn/btn_colors_off.png) left 50% no-repeat; margin-bottom:30px;}
        #edit a#tools{background:url(/img/btn/btn_tools_off.png) left 50% no-repeat;}
            #edit a#colors:hover{background-image:url(/img/btn/btn_colors_on.png)}
            #edit a#tools:hover{background-image:url(/img/btn/btn_tools_on.png)}

/*PAGE GALLERY*/
#grid{margin: 0 auto; padding: 0; width: 960px; list-style: none; overflow: hidden;}
    #grid li{float: left; margin: 20px 0 40px 0; padding: 0; width: 320px; height: 488px; background: url(/img/separator.jpg) 100% 27px no-repeat;}
        #grid li .container{margin: 0 auto 10px auto; padding: 0; width: 234px; height: 371px; background: url(/img/bg/mug_small.jpg) 0 0 no-repeat; position: relative; z-index: 0; overflow: hidden;}
            #grid li .container .visuel{display: block; width: 575px; height: 260px; position: absolute; top: 40px; z-index: 1;}
            #grid li .container .visuel_bis{display: block; width: 575px; height: 260px; position: absolute; top: 40px; z-index: 1;}
            #grid li .container .cache{position: absolute; top: 0; left: 0; cursor: e-resize; z-index: 10;}
        #grid li a.coffee_name{display: block; margin: 0 auto; width: 284px; height: 60px; line-height: 54px; background: url(/img/bg/coffee_name.jpg) 0 0 no-repeat; text-align: center;}
            #grid li a.coffee_name span{display: inline-block; vertical-align: middle; max-width: 190px; color: #fff; font-size: 16px; line-height: 18px; text-transform: uppercase;}
        #grid li .creator{font-size: 15px; text-transform: uppercase; text-align: center; margin: 12px 0;}
    #grid li.last{background: none;}

    #social{padding: 20px; margin-bottom:20px; margin:0 auto; width:115px; border-radius:10px; background:#E24242; float:right;}
        #social .social_btn{width:110px; margin-top:20px;}
            #social .social_btn:first-child{margin-top:0px;}

.cta_container.make_one{height:68px;}
    .make_one div{width: 300px;}
    .make_one a.cta{height: 40px; width: 260px; padding-top: 20px; font-size:30px; text-shadow: none; margin: 0 auto;
        -webkit-box-shadow:  0px 3px 0px 0px rgba(98, 195, 188, 1);
        box-shadow:  0px 3px 0px 0px rgba(98, 195, 188, 1);}
        .make_one a.cta:hover{margin-top: 3px;
            -webkit-box-shadow:  0px 0px 0px 0px rgba(98, 195, 188, 1);
            box-shadow:  0px 0px 0px 0px rgba(98, 195, 188, 1);}

#pager{margin-top: 40px; overflow: hidden;}
    #pager div{float: left; width: 170px; margin: 0 50px; text-align: center;}
        #pager div span{color: #ea9a9a; text-transform: uppercase; border-bottom: 1px dashed #ea9a9a;}
        #pager div a{color: #e04142; text-transform: uppercase; border-bottom: 1px dashed #e04142;}
            #pager div a:hover{color: #62c3bc; border-color: #62c3bc;}
    #pager p{float: left; width: 480px; margin: 0; text-align: center; text-transform: uppercase;}

/*PAGE SINGLE*/
#single{margin-bottom: 90px; position: relative;}
#single .container{margin: 0 auto 30px auto; padding: 0; width: 460px; height: 665px; background: url(/img/bg/mug_big.jpg) 0 0 no-repeat; position: relative; z-index: 0; overflow: hidden;}
    #single .container .visuel{display: block; width: 1020px; height: 461px; position: absolute; top: 70px; z-index: 1;}
    #single .container .visuel_bis{display: block; width: 1020px; height: 461px; position: absolute; top: 70px; z-index: 2;}
    #single .container .cache{position: absolute; top: 0; left: 0; cursor: e-resize; z-index: 10;}
#single span.coffee_name{display: block; margin: 0 auto; width: 284px; height: 60px; line-height: 54px; background: url(/img/bg/coffee_name.jpg) 0 0 no-repeat; text-align: center;}
    #single span.coffee_name span{display: inline-block; vertical-align: middle; max-width: 190px; color: #fff; font-size: 16px; line-height: 18px; text-transform: uppercase;}
    #single .creator{font-size: 15px; text-transform: uppercase; text-align: center; margin: 12px 0;}
#single a.nav_single{position: absolute; top: 230px; left: 0; display: block; width: 140px; height: 140px; background: #62c3bc url(/img/btn/prev.png) 48px 43px no-repeat; -webkit-border-radius: 70px; border-radius: 70px;
    -webkit-box-shadow:  0px 5px 0px 0px rgba(224, 65, 66, 1);
    box-shadow:  0px 5px 0px 0px rgba(224, 65, 66, 1);
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;}
    #single a.nav_single.next{left: auto; right: 0; background: #e14243 url(/img/btn/next.png) 56px 43px no-repeat;
        -webkit-box-shadow:  0px 5px 0px 0px rgba(98, 195, 188, 1);
        box-shadow:  0px 5px 0px 0px rgba(98, 195, 188, 1);}
#single a.nav_single:hover{top: 235px;
    -webkit-box-shadow:  0px 0px 0px 0px rgba(224, 65, 66, 1);
    box-shadow:  0px 0px 0px 0px rgba(224, 65, 66, 1);}

#bonus{width: 960px; margin: 0 auto;}
    #bonus #share{margin-top:20px; float: left; width: 540px; padding: 10px;}
    #bonus #share #bloc_title{float:left; width:330px;}
        #bonus #share{float:left; width:520px;}
        #bonus #share h3{margin: 0 0 15px 0; text-transform: uppercase; font-size: 30px; line-height: 33px;}
        #bonus #share p{ margin: 0; text-transform: uppercase; font-size: 14px;}
            #bonus #share p span{color: #62c3bc;}
            #bonus #share form{position: relative;}
                #bonus #share form div{margin-top: 40px; position: relative;}
                    #bonus #share form div label{position: absolute; top: 0; left: 50px; cursor: text; text-transform: uppercase;}
                        #bonus #share form div label span{color: #62c3bc;}
                #bonus #share input{width: 250px; padding: 0 0 16px 50px; background: transparent url(/img/bg/mail.jpg) 10px 2px no-repeat; border: none; border-bottom: 1px solid #e04142; color: #e04142; font: 15px ArialRounded, Arial, sans-serif;}
                #bonus #share input#you{background: transparent url(/img/bg/name.png) 13px 0 no-repeat;}
                    #bonus #share span.submit{position: absolute; bottom: 0; right: 0px; display: block; width: 159px; height: 63px; overflow: hidden; background: transparent url(/img/btn/bg_button_send.png) 0 3px no-repeat;}
                    #bonus #share span.email_envoye{position: absolute; bottom: -50px; left: 0; color: #62c3bc;}
                    #bonus #share .submit input{float: right; width: 159px; height: 60px; padding: 0; background: transparent url(/img/btn/button_send.png) 0 0 no-repeat; border: none; text-indent: -9999px;
                        -webkit-transition: all 0.1s ease-in;
                        -moz-transition: all 0.1s ease-in;
                        -ms-transition: all 0.1s ease-in;
                        -o-transition: all 0.1s ease-in;
                        transition: all 0.1s ease-in;}
                    #bonus #share .submit input:hover{margin-top: 3px;
                        -webkit-box-shadow:  0px 0px 0px 0px rgba(98, 195, 188, 1);
                        box-shadow:  0px 0px 0px 0px rgba(98, 195, 188, 1);}

    #bonus #illus{float: left; width: 400px; overflow: hidden;}
        #bonus #illus img{float: right;}